/* 页脚与头图透明 */
/* #footer {
  background: transparent !important;
}
#page-header {
  background: transparent !important;
} */

/* 白天模式遮罩透明 */
#footer::before {
  background: transparent !important;
}
#page-header::before {
  background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

:root {
  --trans-light: rgba(255, 255, 255, 0.95);
  --trans-dark: rgba(46, 48, 62, 0.95);
  --border-style: 1px solid rgb(169, 169, 169);
}



/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: rgba(255, 255, 255, 0.88);
  border-radius: 25px;
  border: var(--border-style);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: rgba(255, 255, 255, 0.88);
  border-radius: 18px;
  border: var(--border-style);
}

/* 电脑端亚克力效果 */
@media (min-width: 900px) {
  /* #recent-posts>.recent-post-item {
    backdrop-filter: blur(5px) saturate(150%);
  }
  #aside-content .card-widget {
    backdrop-filter: blur(5px) saturate(150%);
  } */
  #page-header.nav-fixed #nav {
    backdrop-filter: blur(5px) saturate(150%);
  }
}

/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
  background: var(--trans-light);
  border: var(--border-style);
  border-radius: 20px;
}

/* 导航栏 */
#page-header.nav-fixed #nav {
  background: rgba(255, 255, 255, 0.4);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
  background: rgba(46, 48, 62, 0.7) !important;
}

/* 夜间模式遮罩 */
[data-theme="dark"] #recent-posts > .recent-post-item,
[data-theme="dark"] #aside-content .card-widget {
  background: rgba(46, 48, 62, 0.88);
}

[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
  background: var(--trans-dark);
}

/* 阅读模式 */
.read-mode #aside-content .card-widget {
  background: rgba(158, 204, 171, 0.5) !important;
}
.read-mode div#post {
  background: rgba(158, 204, 171, 0.5) !important;
}

/* 夜间模式下的阅读模式 */
[data-theme="dark"] .read-mode #aside-content .card-widget {
  background: rgba(46, 48, 62, 0.9) !important;
  color: #ffffff;
}
[data-theme="dark"] .read-mode div#post {
  background: rgba(46, 48, 62, 0.9) !important;
  color: #ffffff;
}


/* 返回顶部 */

button#go-up #percent {
  display: none;
  font-weight: bold;
  font-size: 15px !important;
}

button#go-up span {
  font-size: 12px!important;
  margin-right: -1px;
}

/* 鼠标滑动到按钮上时显示返回顶部图标 */
button#go-up:hover i {
  display: block !important;
}

button#go-up:hover #percent {
  display: none !important;
}

#rightside > div > a,
#rightside > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  border-radius: 20px;
}

/* 宽屏适配 */
.layout {
  max-width:1400px;
}

.aside-content {
  max-width: 312px;
  min-width: 300px;
}

@media screen and (max-width: 900px){
  .aside-content{
      max-width: none !important;
  }
}

/*哔哩哔哩视频适配*/
.aspect-ratio {
  position: relative;
  width: 90%;
  height: auto;
  padding-bottom: 75%;
  margin: 3% auto;
  text-align: center;
}
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 86%;
  left: 0;
  top: 0;
}

/* <div align=center class="aspect-ratio">

</div> */

@media (min-width: 768px) {
  .post-content {
    font-size: 17px;
  }
}



/* 超链接样式 参考heo */
#article-container a:not(.fancybox, .imgbox, .swf, .box, .pimgbox, .magnet_link) {
  text-decoration: none;
  /* border-bottom: 2px solid var(--theme-color) */
  /* border-radius: 4px 4px 0 0 */
}

#article-container a:not(.fancybox,
  .imgbox,
  .swf,
  .box,
  .pimgbox,
  .magnet_link,
  .gallery_link):hover {
  text-decoration: none;
  color: #fefefe;
  background: rgba(57, 197, 187, 0.7) !important;
  border-radius: 6px;
  box-shadow: 0 8px 12px -3px #4259ef23;
  padding: 2px;
  transition: all 0.3s ease-in-out;
}

#article-container #hpp_talk p img {
  display: inline;
}

#aside-content #card-toc .toc-content .toc-link.active {
  border-radius: 8px;
}

/* tag美化 夜间模式标签背景颜色 */
details.folding-tag summary {
  border-radius: 20px !important;
}

details.folding-tag[open]>summary {
  border-radius: 20px 20px 0 0 !important;
}

details.folding-tag {
  border-radius: 20px !important;
}

details.folding-tag[open]>div.content {
  border-radius: 0 0 20px 20px !important;
}

[data-theme="dark"] details.folding-tag[open]>div.content {
  background: rgba(46, 48, 62, 1) !important;
}

/* copyright圆角 */
#post .post-copyright {
  border-radius: 20px;
}

/* mathjax scrollbar */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.mathjax-overflow::-webkit-scrollbar {
  height: 5px;
}

#page-header #scroll-down .scroll-down-effects {
  color: var(--white);
}

/* 图片圆角 */
#article-container img {
  border-radius: 12px;
}